@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');



body{
    background-color: #232323;
    font-family: 'Press Start 2P';
    background-attachment: fixed;
}

.content{
  color: white;
  font: 1em pixelify sans;
  width:23%;
  margin: 2% 40%;
  background-color: #8d90b1;
  text-align: center;
  padding:2% 2%;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.4), 0 8px 20px 0 rgba(0, 0, 0, 0.50);
    background-attachment: fixed;

}


h1{
  color: white;
  font: 1em pixelify sans;
  padding-bottom: 8%;
  font-size: 250%;
  
}




p{
font-size : 110%;
}



button{
  border: 3px solid white;
  border-radius: 10px;
  background-color: #3466c3;
  font-family: 'Press Start 2P';
  padding: 5% 5%; 
  color: white;
  font: 1em pixelify sans;
}

button:active{
background-color:   #1fb1e2;
}

@media only screen and (max-width: 1300px){

.content{
  color: white;
  width:30% ;
  margin: 1% 35%;
  background-color: #8a6f90;
  text-align: center;
  padding:2% 2%;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.4), 0 8px 20px 0 rgba(0, 0, 0, 0.50);


}







.butons{
  padding-top:2%;
  display: flex;
  justify-content: center; /* Ensures buttons stay centered */
  flex-direction: row; /* Ensures buttons are laid out in a row */
}

button{
  border: 3px solid white;
  border-radius: 10px;
  background-color: #EF8700;
  font-family: 'Press Start 2P';
  padding: 5% 5%; 
  color: white;
}





}

@media only screen and (max-width: 540px){

.content{
  color: white;
  width:60% ;
  margin: 1% 20%;
  background-color: #8a6f90;
  text-align: center;
  padding:2% 2%;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.4), 0 8px 20px 0 rgba(0, 0, 0, 0.50);


}






.butons{
  padding-top:2%;
}

button{
  border: 3px solid white;
  border-radius: 10px;
  background-color: #EF8700;
  font-family: 'Press Start 2P';
  padding: 5% 5%; 
  color: white;
}

.btn-1{
  margin:8px 2px;
  order: 2;
}



.btn-2{
  margin:8px 2px;
  order: 1;
}



}

@media only screen and (max-width: 320px){
  .content{
  color: white;
  width: 80%;
  margin: 2% 10%;
  background-color: #8a6f90;
  text-align: center;
  padding:2% 2%;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.4), 0 8px 20px 0 rgba(0, 0, 0, 0.50);
  background-attachment: fixed;
}




.game-image {
  width: 50%; 
  height: auto; 
  max-width: 100px; 
  border-radius: 10px; 
}
























}


